        body {
        	font-family: Arial, sans-serif;
        	margin: 0;
        	padding: 0;
        	background-color: white;
        }

        header {
        	background-color: #007B7D;
        	color: white;
        	padding: 18px;
        	display: flex;
        	justify-content: space-between;
        	align-items: center;
        }

        .site-title a {
        	font-size: 25px;
        	text-decoration: none;
        	color: white;
        	font-weight: bold;
        }

        .search-bar {
        	flex: 1;
        	margin: 0 16px;
        }

        .search-bar input {
        	width: 80%;
        	padding: 8px;
        	box-sizing: border-box;
        	border: 1px solid #ccc;
        	border-radius: 12px;
        	font-size: 15px;
        	outline: none;
        }

        .search-bar button {
        	padding: 10px 20px;
        	border: none;
        	border-radius: 8px;
        	background-color: mediumslateblue;
        	font-weight: bold;
        	color: white;
        	cursor: pointer;
        }

        .user-actions {
        	display: flex;
        	align-items: center;
        }

        .user-actions a {
        	color: white;
        	text-decoration: none;
        	font-weight: bold;
        	margin-left: 22px;
        }

        .cart {
        	font-size: 1.4em;
        	color: royalblue;
        	border-radius: 20px;
        	padding: 5px;
        	display: inline-block;
        	margin: 0;
        }
        
                .tabs ul li:hover a {
            border-bottom-color: forestgreen; /* Change to your desired color */
        }